*{
    margin:auto;
    padding: 0;
}

.section-A{
    width: 1000px;
    background-color: black;
    line-height: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
  
  
}
.section1, .section2{
    display: flex;
    justify-content: space-between;
    width: 900px;
    min-height: 400px;
    background-color: black;
    color: white;  
}
.section1{
    padding-top: 50px;
    
}
.personal{
    width: 500px;
    text-align: justify;
}
.section1 img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
}
.section2 img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    padding-top: 10px;
}
.section-B{
    width: 1000px;
    background-color:grey;
    text-align: center;
}
.section2{
    background-color: grey;
    color: white;
    text-align: left; 
    line-height: 30px;
}
.about li{
    text-align: left;
    list-style-type: none;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    min-height: 50px;
    margin-bottom: 0;
}
.footer img{
    width: 20px;
}
